<link rel="stylesheet" href="/stylesheets/test.css" />
<section class="mt-5">
    <h3 class="text-center">Shope Now</h4>

        <div class="container">
            <div class="row">
                {{#each product}}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="cardContainer">
                        <a href="/viewProduct/{{this._id}}" class="text-decoration-none text-dark">
                            <div class="topSections">
                                <div class="imgContainer">
                                    <img src="/images/productimg/{{this.image.[0]}}" alt="">

                                </div>

                            </div>

                        </a>

                        <div class="bottumSection">
                            <div class="seconraper">
                                <div class="mHead">
                                    <h6> {{this.this.productName}}</h6>

                                </div>


                                <div class="diver">

                                    <p><span>{{this.category}} &nbsp;</span> <span>
                                            <span class="badge text-bg-success">
                                                <span class="staring">5</span>
                                                ★
                                            </span></span></p>

                                </div>



                                <p class="amount">
                                    <span>₹ {{this.price}} &nbsp;</span>
                                    <span> <del> &nbsp;₹ {{this.price}} </del> &nbsp; </span>
                                    <span> 10% off</span></p>

                                <div class="cartFav">
                                    <div>
                                        <button onclick="addToCart('{{this._id}}')" class="buttonCart"><i
                                                class="fa fa-cart-arrow-down" aria-hidden="true"></i></button> &nbsp;
                                        <button onclick="addToWishlist('{{this._id}}','{{../user._id}}')"
                                            class="buttonfav"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        </div>
        </div>
        </div>
</section>

{{!-- Pagination --}}

<div class="d-flex justify-content-center mt-5">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            {{#each arr}}
            <li class="page-item"><a class="page-link" href="/getAllProducts?page={{this}}">{{this}}</a></li>
            {{/each}}
            
        </ul>
    </nav>


</div>


<script>
    
  function addToWishlist(proId, userId) {
    
    $.ajax({
      url: '/addToWishList',
      data: {
        userId: userId,
        proId: proId
      },
      type: 'post',
      success: (response) => {
        
        Swal.fire('this item added to your favorite list')
        //location.reload()
        
      }

    })


  }
</script>
</script>